@model IEnumerable<MatriculaWeb.UI.Models.Estudiante>

@{
    ViewData["Title"] = "Index";
}

<h1>Estudiantes Masculinos Registradas</h1>

<p>
    <a style="background-color: #FF9800; color: white; padding: 8px 16px; text-decoration: none; border-radius: 4px;" asp-controller="GestionDeMatriculas" asp-action="Create">Nuevo Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                Nombre Completo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Nombre)
                    @Html.DisplayFor(modelItem => item.PrimerApellido)
                    @Html.DisplayFor(modelItem => item.SegundoApellido)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                <td>
                    <a style="background-color: #4CAF50; color: white; padding: 8px 16px; text-decoration: none; border-radius: 4px;" href="@Url.Action("Edit","GestionDeMatriculas", new { id = item.Id })">Editar</a> |
                    <a style="background-color: #2196F3; color: white; padding: 8px 16px; text-decoration: none; border-radius: 4px;" href="@Url.Action("Details","GestionDeMatriculas" ,new { id = item.Id })">Detalles</a> |
                    <a style="background-color: #9E9E9E; color: white; padding: 8px 16px; text-decoration: none; border-radius: 4px;" href="@Url.Action("Historial","GestionDeMatriculas", new { id = item.Id })">Historial</a>
                </td>
            </tr>
        }
    </tbody>
</table>
